@import "common/fonts.scss";
@import "common/mixins.scss";

header {
  height: 100vh;
  background-color: #1b242f;

  .container {
    height: inherit;
  }

  .tag {
    font-family: $caveat-font, cursive;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
  }

  .name-title {
    color: cyan;
    font-size: 33pt !important;
  }

  .profession {
    color: cyan;
    font-size: 17pt;
    font-weight: 300 !important;
  }
}

// medium screen
@media (min-width: 768px) {
  header {
    .container {
      width: 900px;
    }

    .name-title {
      font-size: 40pt !important;
    }

    .profession {
      font-size: 22pt !important;
    }
  }
}

// large screen
@media (min-width: 992px) {
  header {
    .container {
      width: 900px;
    }

    #header-btn {
      bottom: 10px !important;
    }

    .tag {
      font-size: 26px !important;
    }

    .name-title {
      font-size: 48pt !important;
    }

    .profession {
      font-size: 22pt !important;
    }
  }
}
