@import "common/mixins.scss";
@import "common/fonts.scss";

#project {
  background-color: #dadada;

  .project-container {
    position: relative;

    .project-description {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 999;
      transition: all 0.7s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &:hover {
      .project-description {
        background-color: rgba(#191b1d, 0.9);
        opacity: 1;
      }
    }

    .card-title {
      font-family: $lato-font, sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 22pt;
    }

    .project-links {
      position: relative;
      a.nav-link {
        @include social-links-mixin;
        margin-top: 20px;
        font-size: 1.6em;

        &:hover {
          color: white;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #project {
    .card-title {
      font-size: 24pt !important;
    }
  }
}

@media (min-width: 992px) {
  #project {
    .card-title {
      font-size: 26pt !important;
    }
  }
}
