@import "common/mixins.scss";
@import "common/fonts.scss";

#project {
  background-color: #d6d6d6;

  .project-container {
    position: relative;

    .project-description {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 999;
      // transition: background-color 0.3s ease-out, opacity 0.4s ease-in;
      transition: all 0.7s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &:hover {
      .project-description {
        background-color: rgba(#191b1d, 0.9);
        // background-color: rgba(#021b3c, 0.9);
        opacity: 1;
      }
    }

    .card-title {
      // font-family: $caveat-font;
      font-family: $lato-font, sans-serif;
      font-weight: 700;
      font-style: italic;
    }

    .social-links {
      a.nav-link {
        @include social-links-mixin;
        margin-top: 20px;
        font-size: 1.6em;

        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }
}
