@mixin social-links-mixin {
  color: white;
  font-size: 2em;
  transition: 0.5s;
  margin: 0 5px;
  padding: 0;
  display: inline-block;

  &:hover {
    color: #e31b6d;
    transform: translateY(-4px);
  }
}
