// used in the file "header.scss"
@mixin type-style {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@mixin social-links-mixin {
  color: white;
  font-size: 2em;
  transition: 0.5s;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
}
